################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AttributeBasedAuthorizationApp/obj
/AttributeBasedAuthorizationApp/obj
/AttributeBasedAuthorizationApp/obj/Debug/netcoreapp3.0
/AttributeBasedAuthorizationApp/.vs/AttributeBasedAuthorizationApp
/AttributeBasedAuthorizationApp/AttributeBasedAuthorizationApp/obj/Debug/netcoreapp3.0
/AttributeBasedAuthorizationApp/AttributeBasedAuthorizationApp/obj
/AttributeBasedAuthorizationApp/AttributeBasedAuthorizationApp/bin/Debug/netcoreapp3.0
